extends layout

block content
    h1= 'Your schedule looks a bit like this'
    div
        form(action='polling?method=start', method='post')
            button(type='submit', class='login-button').
                Stop polling
    div
        form(action='polling?method=stop', method='post')
            button(type='submit', class='login-button').
                Start Polling

    #bookings
        for booking in bookings
            div(class='booking')
                table(class='table')
                    thead
                        th(style='border-bottom: 2px solid #{booking.colour}')='Client'
                        th(class='booking-content', style='border-bottom: 2px solid #{booking.client_colour}')=booking.client_id
                    tr
                        td='Project'
                        td(class='booking-content', style='border-bottom: 2px solid #{booking.project_colour}')=booking.project_id
                    tr
                        td='Notes'
                        td(class='booking-content')=booking.notes
                    tr
                        td='Details'
                        td(class='booking-content')=booking.details
                    tr
                        td='Starts'
                        td(class='booking-content')=booking.start_date
                    tr
                        td='Ends'
                        td(class='booking-content')=booking.end_date
